/*
color: hsl(21, 100%, 45%);
color: hsl(210, 100%, 56%);
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*
	border: 0;
	outline: none;
	*/
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3.5rem;
	color: hsl(210, 100%, 56%);
}

h3 {
	font-size: 2rem;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	min-height: 100vh;
	color: hsl(0, 0%, 20%);
	line-height: 1.5;
}

.main-content {
	transform: translateX(7rem);
	width: calc(100% - 7rem);
}

.center-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
}

.center-wrapper--vertical {
	align-items: center;
}

.center-wrapper--horizontal {
	justify-content: center;
}

.center-wrapper--both {
	align-items: center;
	justify-content: center;
}

.center-text {
	text-align: center;
}

a.unformatted {
	text-decoration: none;
}

button.unformatted {
	background-color: transparent;
	color: black;
	border: none;
	line-height: normal;
	text-align: left;
}

ul.unformatted {
	list-style-type: none;
}

.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	height: 2.55em;
	width: 3em;
}

.hamburger .hamburger-inner {
	display: block;
	content: "";
	background-color: currentColor;
	width: 3em;
	height: 0.3em;
	border-radius: 0.2em;
	
	transition: transform 100ms linear;
}

.hamburger .hamburger-inner::before {
	position: relative;
	top: -0.7em;
	display: block;
	content: "";
	background-color: currentColor;
	width: 3em;
	height: 0.3em;
	border-radius: 0.2em;
	
	transition: transform 100ms linear, top 100ms linear 100ms;
}

.hamburger .hamburger-inner::after {
	position: relative;
	bottom: -0.4em;
	display: block;
	content: "";
	background-color: currentColor;
	width: 3em;
	height: 0.3em;
	border-radius: 0.2em;
	
	transition: bottom 100ms linear 100ms, opacity 100ms linear;
}

.hamburger.active .hamburger-inner {
	transform: rotate(-45deg);
	transition: transform 100ms linear 100ms;
}

.hamburger.active .hamburger-inner::before {
	top: 0;
	transform: rotate(90deg);
	
	transition: top 100ms linear, transform 100ms linear 100ms;
}

.hamburger.active .hamburger-inner::after {
	bottom: 0.3em;
	opacity: 0;
	
	transition: bottom 100ms linear, opacity 100ms linear 100ms;
}

.scrim {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: hsla(0, 0%, 5%, 0.45);
	color: hsl(0, 100%, 100%);
}

.rounded-border-button {
	display: inline-block;
	font-size: 1.25em;
	font-weight: bold;
	letter-spacing: 0.075em;
	border-width: 0.2em;
	border-style: solid;
	border-radius: 0.5em;
	padding: 0.5em 1em;
	margin: 1em 0.5em;
}

.rounded-border-button.blue-white {
	color: hsl(210, 100%, 56%);
	background-color: hsl(0, 100%, 100%);
	border-color: hsl(210, 100%, 56%);
}

.rounded-border-button.blue-white:hover,
.rounded-border-button.blue-white:active {
	color: hsl(0, 100%, 100%);
	background-color: hsl(210, 100%, 56%);
	border-color: hsl(210, 100%, 56%);
}

.flipper {
	perspective: 1000px;
}

.flipper.flipped .flipper-content {
	transform: rotateY(180deg);
}

.flipper .flipper-content {
	transition: transform 500ms ease-in-out;
	transform-style: preserve-3d;

	position: relative;
}

/* This selector target IE specifically to apply a backface-visibility fix */
_:-ms-lang(x),
.flipper.flipped .flipper-back,
.flipper.flipped .flipper-front {
	backface-visibility: visible;
}

.flipper .flipper-front,
.flipper .flipper-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.flipper .flipper-front {
	transform: rotateY(0deg);
}

.flipper .flipper-back {
	transform: rotateY(180deg);
}

.flipper .flipper-trigger {
	cursor: pointer;
}

.header {
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	padding: 1em;
	
	background-color: transparent;
	
	z-index: 900;
}

.nav-widget {
	position: fixed;
	top: 0;
	left: -25rem;
	height: 100%;
	width: 25rem;
	max-width: 100%;
	background-color: hsla(0, 0%, 20%, 1);
	
	transform: translateX(7rem);
	transition: transform 500ms ease-in-out;
	
	z-index: 800;
}

.nav-widget.active {
	transform: translateX(25rem);
}

.nav-widget .hamburger {
	position: absolute;
	top: 0;
	right: 0;
	color: hsl(0, 100%, 100%);
	margin: 1.5rem;
}

.nav-widget .icon {
	width: 4rem;
}

.nav-widget .nav-links {
	font-size: 2em;
	list-style-type: none;
	height: 100%;
	margin-top: 5.25rem;
	padding: 0.25em 0;
}

.nav-widget .nav-link {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	padding: 0.5em 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: hsl(0, 100%, 100%);
	fill: hsl(0, 100%, 100%);
}

.nav-widget .nav-link:hover,
.nav-widget .nav-link:active {
	color: hsl(210, 100%, 56%);
	fill: hsl(210, 100%, 56%);
}

.nav-widget .nav-link-text {
	margin-right: 1em;
}

#home-screen {
	color: hsl(0, 100%, 100%);
	height: 100vh;
	overflow: hidden;
}

#home-screen .home-background {
	z-index: -1;
}

#home-screen .site-title {
	font-size: 1.75em;
	line-height: 1;
	color: hsl(0, 100%, 100%);
	text-shadow: 0 0 0.25em hsl(0, 0%, 0%);
}

#home-screen .name {
	text-transform: uppercase;
}

#home-screen .title {
	font-weight: lighter;
	font-size: 1.5em;
}

#about-me {
	padding: 2rem 3rem;
}

#about-me hr {
	border-color: hsl(210, 100%, 56%);
	margin: 1em 0;
}

#about-me .center-content {
	max-width: 50em;
}

#about-me .headshot {
	width: 15em;
	margin: 1em 0 0 0;
}

#about-me .social-media-icons {
	margin: 1em 0;
}

#about-me .social-media-icons .icon {
	fill: hsl(0, 0%, 20%);
	width: 3em;
	height: 3em;
	margin: 0 0.5em;
}

#about-me .bio {
	font-size: 1.25em;
	text-align: left;
	margin: 1em 1.5em;
}

#skills {
	position: relative;
	color: hsl(0, 100%, 100%);
}

#skills h2 {
	font-size: 2.75rem;
}

#skills .skills-backdrop {
	position: absolute;
	width: 100%;
	height: calc(100% - 10rem);
	margin-top: 10rem;
	background-color: hsl(210, 100%, 56%);
}

.skill-box-container {
	position: relative;
	width: 100%;
	max-width: 120rem;
	margin: 2rem 3rem;

	display: flex;
	flex-wrap: wrap;

	color: hsl(0, 0%, 20%);
	box-shadow: 0 0 0 0.2em hsl(0, 0%, 20%);
	border-radius: 0.75rem;
}

.skills-box {
	flex: 1 1 0px;
	box-shadow: 0 0 0 0.2em hsl(0, 0%, 20%);
	background-color: hsl(0, 100%, 100%);
	padding: 1em;
}

.skills-box-left {
	border-radius: 0.75rem 0 0 0;
}

.skills-box-right {
	border-radius: 0 0.75rem 0 0;
}

.skills-box-bottom {
	flex: 1 1 100%;
	width: 100%;
	border-radius: 0 0 0.75rem 0.75rem;
}

.skills-box .skill {
	margin-left: 0.5em;
}

.skills-box .skill .skill-title {
	text-transform: none;
}
.skills-box .skill .skill-description {
	font-size: 1.1em;
	/* text-align: justify; */
}

.logo-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.logo-box {
	position: relative;
	width: 10em;
	height: 10em;
	text-align: center;
	margin: 1em;
	padding: 1em;

	border-radius: 0.5em;
	box-shadow: 0 0.1em 0.1em 0.15em hsla(0, 0%, 0%, 0.2);
}

.logo-box .logo-box-image {
	width: 100%;
	height: 100%;
}

.logo-box .logo-box-text {
	font-size: 1.5em;
	line-height: 1;
	font-weight: bold;
}

#projects {
	padding: 2rem 3rem;
}

.projects-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.project {
	font-size: 1.5rem;
	position: relative;
	width: 28rem;
	height: 28rem;
	margin: 1.5em;
}

.project.flipper .flipper-content {
	width: 100%;
	height: 100%;
}

.project.flipper .flipper-front,
.project.flipper .flipper-back {
	width: 100%;
	height: 100%;

	border-radius: 0.75rem;
	overflow: hidden;
}

.project .project-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.project .scrim {
	background-color: hsla(0, 0%, 20%, 0.925);
}

.project .project-cover {
	position: absolute;

	transform: translateY(0);
	transition: transform 500ms ease-in-out 100ms;
}

.project:hover .project-cover,
.no-hover .project .project-cover {
	transform: translateY(-100%);
}

.project .project-logo-container {
	width: 70%;
	height: 70%;
}

.project .project-info {
	position: absolute;
	padding: 1.5em 2em;

	transform: translateY(100%);
	transition: transform 500ms ease-in-out 100ms;
}

.project:hover .project-info,
.no-hover .project .project-info {
	transform: translateY(0);
}

.project .project-name {
	font-size: 1.5em;
	margin: 0 0 calc(2.5% + 0.2em);
}

.project .project-name .project-name-underline {
	border-bottom: 0.2em solid hsl(210, 100%, 56%);
}

.project .project-description {
	text-align: left;
}

.project .project-more {
	font-size: 1.1em;
	display: inline-block;
	margin: 2.5% 0 0;
	color: hsl(210, 100%, 56%);
	text-decoration: underline;
	font-weight: bold;
	animation: flick-right 750ms cubic-bezier(.55, .06, .68, .19) 250ms infinite alternate;
}

@keyframes flick-right {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(7%);
	}
}

.project .project-specs {
	padding: 1.5em 2em;
	background-color: hsl(0, 0%, 20%);
	color: hsl(210, 100%, 56%);
}

.project .center-content {
	width: 100%;
}

.project .project-technology {
	text-align: left;
}

.project .built-with {
	font-size: 1.25em;
	font-weight: bold;
}

.project .technology-list {
	margin-left: 1.75em;
	color: hsl(0, 100%, 100%);
	column-count: 2;
}

.project .project-links {
	font-size: 1.15em;
}

.project .project-links {
	margin: 0.75em 0;
}

.project .project-links-list {
	display: flex;
	justify-content: center;
}

.project .project-links-list-item + .project-links-list-item::before {
	content: "|";
	margin: 0 0.25em;
	color: hsl(0, 100%, 100%);
}

.project .project-specs a {
	color: hsl(210, 100%, 56%);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: hsl(210, 100%, 56%);
	color: hsl(0, 100%, 100%);
}

.footer .copyright {
	font-size: 1.5rem;
	margin: 1em;
}
