/*
color: hsl(21, 100%, 45%);
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*
	border: 0;
	outline: none;
	*/
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
}

body {
	min-height: 100vh;
}

